@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KGInimitableOriginal';
  src: url("/assets/fonts/KGInimitableOriginal.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/assets/fonts/AvenirNextCyrMedium.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Mikado';
  src: url("/assets/fonts/HVDFontsMikadoMedium.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: #000000;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* Typography */
  --title-font: "Mikado";
  --controls-font: "KGInimitableOriginal";
  --text-font: 'Avenir Next Cyr';
  --font-bold: "KGInimitableOriginal";
  --font-light: "KGInimitableOriginal";
  --font-weight-bold: 700;

  --bg-primary: #28359C;
  --bg-yellow-gradient: radial-gradient(58.26% 105.33% at 50% 49.78%, #FCD304 0%, #FAD004 3%, #E39704 68%, #DB8204 100%);
  --text-primary: #252525;
  --bg-yellow: #FCDC06;

  --small-font-size: 12px;
  --normal-font-size: 14px;
  --rounded: 10px;
  /* clip paths */



  --clip-white-panel-x: polygon(3.333% 10.905%, 3.333% 10.905%, 3.392% 10.076%, 3.561% 9.289%, 3.833% 8.553%, 4.198% 7.88%, 4.647% 7.279%, 5.171% 6.761%, 5.761% 6.336%, 6.408% 6.015%, 7.103% 5.808%, 7.837% 5.725%, 88.992% 3.849%, 88.992% 3.849%, 89.669% 3.889%, 90.319% 4.037%, 90.934% 4.284%, 91.507% 4.624%, 92.029% 5.05%, 92.493% 5.554%, 92.891% 6.129%, 93.215% 6.767%, 93.457% 7.462%, 93.609% 8.206%, 93.609% 8.206%, 93.698% 8.865%, 93.79% 9.543%, 93.882% 10.234%, 93.975% 10.932%, 94.066% 11.631%, 94.157% 12.327%, 94.244% 13.014%, 94.328% 13.685%, 94.408% 14.336%, 94.483% 14.961%, 94.483% 14.961%, 94.627% 16.155%, 94.752% 17.153%, 94.863% 18.025%, 94.965% 18.835%, 95.062% 19.652%, 95.158% 20.541%, 95.259% 21.57%, 95.369% 22.806%, 95.491% 24.316%, 95.632% 26.166%, 95.632% 26.166%, 95.778% 28.234%, 95.912% 30.357%, 96.033% 32.538%, 96.14% 34.784%, 96.232% 37.099%, 96.309% 39.487%, 96.368% 41.954%, 96.41% 44.503%, 96.433% 47.141%, 96.437% 49.87%, 96.437% 49.87%, 96.417% 52.63%, 96.373% 55.343%, 96.308% 57.995%, 96.225% 60.57%, 96.127% 63.054%, 96.017% 65.431%, 95.898% 67.687%, 95.773% 69.806%, 95.645% 71.774%, 95.517% 73.575%, 95.517% 73.575%, 95.405% 75.06%, 95.32% 76.14%, 95.257% 76.889%, 95.211% 77.383%, 95.177% 77.697%, 95.151% 77.904%, 95.128% 78.081%, 95.104% 78.303%, 95.072% 78.643%, 95.029% 79.177%, 95.029% 79.177%, 94.986% 79.777%, 94.955% 80.284%, 94.932% 80.729%, 94.913% 81.145%, 94.895% 81.563%, 94.872% 82.014%, 94.84% 82.529%, 94.796% 83.141%, 94.736% 83.881%, 94.655% 84.78%, 94.655% 84.78%, 94.601% 85.313%, 94.532% 85.908%, 94.451% 86.553%, 94.359% 87.24%, 94.259% 87.959%, 94.152% 88.701%, 94.04% 89.454%, 93.926% 90.211%, 93.81% 90.96%, 93.694% 91.694%, 93.694% 91.694%, 93.531% 92.416%, 93.282% 93.089%, 92.955% 93.706%, 92.557% 94.26%, 92.097% 94.745%, 91.581% 95.153%, 91.017% 95.479%, 90.414% 95.716%, 89.777% 95.857%, 89.116% 95.895%, 7.837% 94.016%, 7.837% 94.016%, 7.103% 93.933%, 6.408% 93.726%, 5.761% 93.405%, 5.171% 92.98%, 4.647% 92.462%, 4.198% 91.861%, 3.833% 91.187%, 3.561% 90.452%, 3.392% 89.665%, 3.333% 88.836%, 3.333% 10.905%);
  --clip-white-panel-y: polygon(10.742% 96.428%, 10.742% 96.428%, 9.909% 96.37%, 9.118% 96.2%, 8.38% 95.929%, 7.704% 95.564%, 7.1% 95.116%, 6.58% 94.592%, 6.153% 94.002%, 5.831% 93.356%, 5.622% 92.661%, 5.539% 91.927%, 3.655% 10.813%, 3.655% 10.813%, 3.695% 10.136%, 3.844% 9.487%, 4.092% 8.872%, 4.434% 8.299%, 4.861% 7.777%, 5.367% 7.313%, 5.945% 6.916%, 6.586% 6.592%, 7.283% 6.35%, 8.03% 6.198%, 8.03% 6.198%, 8.693% 6.109%, 9.373% 6.017%, 10.067% 5.925%, 10.768% 5.833%, 11.471% 5.741%, 12.17% 5.651%, 12.859% 5.564%, 13.534% 5.479%, 14.187% 5.4%, 14.815% 5.325%, 14.815% 5.325%, 16.013% 5.181%, 17.016% 5.056%, 17.891% 4.945%, 18.705% 4.843%, 19.525% 4.746%, 20.419% 4.65%, 21.452% 4.549%, 22.693% 4.44%, 24.209% 4.317%, 26.067% 4.176%, 26.067% 4.176%, 28.144% 4.03%, 30.276% 3.897%, 32.467% 3.776%, 34.722% 3.669%, 37.047% 3.577%, 39.445% 3.5%, 41.922% 3.44%, 44.483% 3.399%, 47.131% 3.375%, 49.873% 3.372%, 49.873% 3.372%, 52.644% 3.392%, 55.369% 3.435%, 58.032% 3.5%, 60.618% 3.583%, 63.113% 3.681%, 65.5% 3.791%, 67.765% 3.91%, 69.894% 4.035%, 71.87% 4.163%, 73.678% 4.291%, 73.678% 4.291%, 75.17% 4.403%, 76.254% 4.488%, 77.007% 4.551%, 77.503% 4.597%, 77.818% 4.631%, 78.026% 4.657%, 78.204% 4.68%, 78.426% 4.704%, 78.768% 4.736%, 79.305% 4.779%, 79.305% 4.779%, 79.907% 4.822%, 80.416% 4.853%, 80.863% 4.876%, 81.281% 4.894%, 81.7% 4.913%, 82.153% 4.936%, 82.671% 4.968%, 83.285% 5.011%, 84.028% 5.072%, 84.931% 5.153%, 84.931% 5.153%, 85.467% 5.207%, 86.063% 5.276%, 86.712% 5.357%, 87.402% 5.448%, 88.124% 5.548%, 88.868% 5.655%, 89.625% 5.767%, 90.385% 5.882%, 91.138% 5.998%, 91.874% 6.113%, 91.874% 6.113%, 92.599% 6.276%, 93.275% 6.525%, 93.895% 6.852%, 94.451% 7.25%, 94.938% 7.71%, 95.349% 8.225%, 95.676% 8.789%, 95.914% 9.392%, 96.055% 10.028%, 96.093% 10.689%, 94.207% 91.927%, 94.207% 91.927%, 94.123% 92.661%, 93.915% 93.356%, 93.592% 94.002%, 93.166% 94.592%, 92.646% 95.116%, 92.042% 95.564%, 91.366% 95.929%, 90.627% 96.2%, 89.836% 96.37%, 89.004% 96.428%, 10.742% 96.428%);
  --clip-blue-panel-x: polygon(0% 13.972%, 0% 13.972%, 0.077% 12.513%, 0.301% 11.12%, 0.661% 9.811%, 1.145% 8.603%, 1.744% 7.514%, 2.445% 6.562%, 3.238% 5.762%, 4.111% 5.133%, 5.054% 4.692%, 6.056% 4.457%, 24.188% 2.211%, 24.188% 2.211%, 24.399% 2.182%, 24.992% 2.103%, 25.907% 1.983%, 27.083% 1.832%, 28.462% 1.659%, 29.982% 1.474%, 31.584% 1.287%, 33.208% 1.107%, 34.794% 0.943%, 36.282% 0.806%, 36.282% 0.806%, 37.64% 0.694%, 38.898% 0.598%, 40.082% 0.515%, 41.217% 0.444%, 42.327% 0.383%, 43.437% 0.329%, 44.572% 0.281%, 45.757% 0.237%, 47.017% 0.194%, 48.377% 0.151%, 48.377% 0.151%, 49.735% 0.11%, 50.994% 0.074%, 52.179% 0.045%, 53.314% 0.023%, 54.424% 0.008%, 55.533% 0.001%, 56.668% 0.001%, 57.853% 0.011%, 59.112% 0.029%, 60.471% 0.057%, 60.471% 0.057%, 61.83% 0.095%, 63.09% 0.142%, 64.275% 0.196%, 65.409% 0.258%, 66.519% 0.325%, 67.629% 0.398%, 68.763% 0.474%, 69.947% 0.552%, 71.206% 0.632%, 72.565% 0.713%, 72.565% 0.713%, 74.45% 0.821%, 76.434% 0.938%, 78.486% 1.061%, 80.574% 1.188%, 82.665% 1.316%, 84.727% 1.445%, 86.728% 1.57%, 88.636% 1.69%, 90.42% 1.803%, 92.046% 1.907%, 92.046% 1.907%, 92.88% 2.037%, 93.682% 2.311%, 94.445% 2.724%, 95.159% 3.265%, 95.816% 3.929%, 96.406% 4.706%, 96.922% 5.589%, 97.354% 6.571%, 97.693% 7.642%, 97.93% 8.796%, 97.93% 8.796%, 98.008% 9.307%, 98.083% 9.82%, 98.156% 10.333%, 98.225% 10.844%, 98.291% 11.351%, 98.351% 11.851%, 98.407% 12.344%, 98.457% 12.826%, 98.502% 13.296%, 98.539% 13.751%, 98.539% 13.751%, 98.631% 14.978%, 98.705% 15.999%, 98.766% 16.886%, 98.817% 17.71%, 98.863% 18.542%, 98.907% 19.451%, 98.954% 20.51%, 99.009% 21.789%, 99.075% 23.359%, 99.156% 25.291%, 99.156% 25.291%, 99.253% 27.457%, 99.359% 29.685%, 99.471% 31.979%, 99.583% 34.344%, 99.691% 36.783%, 99.79% 39.301%, 99.875% 41.901%, 99.941% 44.59%, 99.984% 47.369%, 100% 50.244%, 100% 50.244%, 99.984% 53.12%, 99.941% 55.899%, 99.875% 58.587%, 99.79% 61.188%, 99.691% 63.706%, 99.583% 66.145%, 99.471% 68.51%, 99.359% 70.804%, 99.253% 73.032%, 99.156% 75.198%, 99.156% 75.198%, 99.071% 77.129%, 98.995% 78.699%, 98.926% 79.978%, 98.861% 81.037%, 98.798% 81.947%, 98.733% 82.779%, 98.664% 83.602%, 98.589% 84.49%, 98.505% 85.511%, 98.409% 86.738%, 98.409% 86.738%, 98.374% 87.173%, 98.333% 87.621%, 98.288% 88.081%, 98.237% 88.55%, 98.183% 89.028%, 98.125% 89.511%, 98.064% 89.999%, 98% 90.489%, 97.934% 90.98%, 97.866% 91.469%, 97.866% 91.469%, 97.637% 92.655%, 97.302% 93.759%, 96.87% 94.771%, 96.351% 95.683%, 95.754% 96.486%, 95.088% 97.172%, 94.361% 97.732%, 93.583% 98.157%, 92.763% 98.438%, 91.911% 98.568%, 91.911% 98.568%, 90.285% 98.662%, 88.506% 98.763%, 86.608% 98.868%, 84.62% 98.976%, 82.574% 99.084%, 80.501% 99.19%, 78.432% 99.29%, 76.399% 99.384%, 74.433% 99.469%, 72.565% 99.542%, 72.565% 99.542%, 71.206% 99.594%, 69.947% 99.646%, 68.763% 99.696%, 67.628% 99.743%, 66.518% 99.786%, 65.409% 99.824%, 64.274% 99.854%, 63.089% 99.877%, 61.83% 99.89%, 60.471% 99.893%, 60.471% 99.893%, 59.112% 99.885%, 57.852% 99.865%, 56.668% 99.836%, 55.533% 99.799%, 54.423% 99.756%, 53.313% 99.708%, 52.179% 99.656%, 50.994% 99.603%, 49.735% 99.548%, 48.377% 99.495%, 48.377% 99.495%, 47.018% 99.448%, 45.758% 99.41%, 44.573% 99.376%, 43.438% 99.345%, 42.328% 99.311%, 41.218% 99.273%, 40.083% 99.226%, 38.899% 99.168%, 37.64% 99.095%, 36.282% 99.004%, 36.282% 99.004%, 34.795% 98.887%, 33.209% 98.745%, 31.585% 98.587%, 29.982% 98.421%, 28.462% 98.257%, 27.083% 98.102%, 25.907% 97.967%, 24.992% 97.86%, 24.399% 97.789%, 24.188% 97.763%, 6.118% 95.77%, 6.118% 95.77%, 5.108% 95.545%, 4.156% 95.112%, 3.274% 94.488%, 2.473% 93.691%, 1.765% 92.737%, 1.159% 91.646%, 0.669% 90.433%, 0.305% 89.118%, 0.078% 87.716%, 0% 86.247%, 0% 13.972%);
  --clip-blue-panel-y: polygon(14.938% 100%, 14.938% 100%, 13.711% 99.93%, 12.536% 99.726%, 11.425% 99.398%, 10.392% 98.954%, 9.452% 98.404%, 8.618% 97.757%, 7.903% 97.023%, 7.322% 96.211%, 6.888% 95.329%, 6.615% 94.387%, 3.007% 75.812%, 3.007% 75.812%, 2.98% 75.601%, 2.903% 75.008%, 2.788% 74.093%, 2.642% 72.917%, 2.475% 71.538%, 2.296% 70.018%, 2.116% 68.416%, 1.942% 66.792%, 1.784% 65.206%, 1.651% 63.718%, 1.651% 63.718%, 1.535% 62.36%, 1.418% 61.102%, 1.304% 59.918%, 1.193% 58.783%, 1.088% 57.673%, 0.991% 56.563%, 0.902% 55.428%, 0.825% 54.243%, 0.76% 52.983%, 0.71% 51.623%, 0.71% 51.623%, 0.671% 50.265%, 0.636% 49.005%, 0.605% 47.821%, 0.576% 46.686%, 0.547% 45.576%, 0.515% 44.466%, 0.48% 43.331%, 0.44% 42.147%, 0.393% 40.888%, 0.337% 39.529%, 0.337% 39.529%, 0.29% 38.173%, 0.27% 36.92%, 0.273% 35.745%, 0.296% 34.621%, 0.335% 33.52%, 0.387% 32.416%, 0.449% 31.283%, 0.518% 30.093%, 0.589% 28.819%, 0.661% 27.435%, 0.661% 27.435%, 0.813% 25.034%, 1.03% 22.664%, 1.3% 20.345%, 1.613% 18.095%, 1.958% 15.933%, 2.325% 13.878%, 2.702% 11.948%, 3.079% 10.162%, 3.445% 8.539%, 3.79% 7.097%, 3.79% 7.097%, 4.015% 6.398%, 4.337% 5.735%, 4.75% 5.113%, 5.248% 4.536%, 5.825% 4.009%, 6.475% 3.539%, 7.192% 3.129%, 7.97% 2.786%, 8.803% 2.513%, 9.686% 2.317%, 9.686% 2.317%, 10.308% 2.211%, 10.943% 2.106%, 11.586% 2.004%, 12.234% 1.905%, 12.881% 1.812%, 13.523% 1.724%, 14.155% 1.644%, 14.774% 1.573%, 15.374% 1.511%, 15.951% 1.461%, 15.951% 1.461%, 17.135% 1.363%, 18.121% 1.271%, 18.977% 1.186%, 19.773% 1.105%, 20.575% 1.026%, 21.453% 0.949%, 22.475% 0.872%, 23.71% 0.792%, 25.225% 0.71%, 27.089% 0.622%, 27.089% 0.622%, 29.18% 0.532%, 31.33% 0.442%, 33.544% 0.355%, 35.826% 0.273%, 38.18% 0.198%, 40.61% 0.132%, 43.12% 0.078%, 45.715% 0.036%, 48.397% 0.009%, 51.172% 0%, 51.172% 0%, 53.947% 0.016%, 56.63% 0.059%, 59.224% 0.125%, 61.735% 0.21%, 64.165% 0.309%, 66.519% 0.417%, 68.801% 0.529%, 71.015% 0.641%, 73.165% 0.747%, 75.256% 0.844%, 75.256% 0.844%, 77.12% 0.929%, 78.635% 1.005%, 79.87% 1.074%, 80.892% 1.139%, 81.77% 1.202%, 82.572% 1.267%, 83.367% 1.336%, 84.224% 1.411%, 85.21% 1.495%, 86.394% 1.591%, 86.394% 1.591%, 86.899% 1.634%, 87.423% 1.685%, 87.962% 1.742%, 88.512% 1.806%, 89.072% 1.875%, 89.638% 1.949%, 90.206% 2.027%, 90.774% 2.107%, 91.34% 2.191%, 91.899% 2.276%, 91.899% 2.276%, 92.894% 2.483%, 93.828% 2.785%, 94.693% 3.175%, 95.482% 3.645%, 96.187% 4.188%, 96.802% 4.797%, 97.318% 5.464%, 97.729% 6.181%, 98.026% 6.943%, 98.203% 7.741%, 98.203% 7.741%, 98.426% 9.366%, 98.659% 11.158%, 98.896% 13.081%, 99.128% 15.103%, 99.347% 17.19%, 99.545% 19.309%, 99.715% 21.426%, 99.847% 23.509%, 99.934% 25.523%, 99.968% 27.435%, 99.968% 27.435%, 99.973% 28.794%, 99.977% 30.053%, 99.982% 31.238%, 99.987% 32.372%, 99.991% 33.482%, 99.995% 34.592%, 99.998% 35.726%, 100% 36.911%, 100% 38.17%, 99.998% 39.529%, 99.998% 39.529%, 99.99% 40.888%, 99.971% 42.148%, 99.943% 43.332%, 99.907% 44.467%, 99.866% 45.577%, 99.819% 46.687%, 99.769% 47.821%, 99.718% 49.006%, 99.665% 50.265%, 99.614% 51.623%, 99.614% 51.623%, 99.569% 52.982%, 99.532% 54.242%, 99.499% 55.427%, 99.469% 56.562%, 99.436% 57.672%, 99.399% 58.782%, 99.354% 59.917%, 99.298% 61.101%, 99.228% 62.36%, 99.14% 63.718%, 99.14% 63.718%, 99.027% 65.205%, 98.89% 66.791%, 98.737% 68.415%, 98.577% 70.018%, 98.419% 71.538%, 98.27% 72.917%, 98.139% 74.093%, 98.036% 75.008%, 97.967% 75.601%, 97.942% 75.812%, 95.304% 94.134%, 95.304% 94.134%, 95.068% 95.11%, 94.66% 96.027%, 94.094% 96.874%, 93.385% 97.642%, 92.547% 98.32%, 91.594% 98.897%, 90.543% 99.364%, 89.406% 99.711%, 88.2% 99.926%, 86.937% 100%, 14.938% 100%);

  --clip-ropeway: polygon(3.209% 13.651%, 3.209% 13.651%, 3.563% 11.357%, 4.091% 9.22%, 4.779% 7.26%, 5.61% 5.499%, 6.57% 3.957%, 7.644% 2.654%, 8.815% 1.611%, 10.068% 0.849%, 11.389% 0.387%, 12.762% 0.248%, 87.824% 1.747%, 87.824% 1.747%, 89.073% 1.911%, 90.28% 2.343%, 91.429% 3.028%, 92.509% 3.953%, 93.505% 5.102%, 94.404% 6.461%, 95.192% 8.017%, 95.855% 9.754%, 96.381% 11.659%, 96.756% 13.717%, 96.756% 13.717%, 96.93% 14.998%, 97.1% 16.3%, 97.266% 17.613%, 97.424% 18.931%, 97.574% 20.245%, 97.713% 21.55%, 97.84% 22.836%, 97.953% 24.097%, 98.05% 25.325%, 98.13% 26.514%, 98.13% 26.514%, 98.319% 29.263%, 98.534% 31.816%, 98.762% 34.222%, 98.994% 36.532%, 99.218% 38.794%, 99.423% 41.057%, 99.597% 43.37%, 99.73% 45.784%, 99.81% 48.347%, 99.826% 51.108%, 99.826% 51.108%, 99.773% 53.868%, 99.658% 56.427%, 99.493% 58.834%, 99.288% 61.14%, 99.054% 63.395%, 98.8% 65.647%, 98.537% 67.946%, 98.276% 70.343%, 98.027% 72.887%, 97.801% 75.628%, 97.801% 75.628%, 97.706% 76.812%, 97.592% 78.036%, 97.463% 79.293%, 97.319% 80.574%, 97.162% 81.872%, 96.995% 83.181%, 96.819% 84.492%, 96.636% 85.798%, 96.448% 87.092%, 96.256% 88.366%, 96.256% 88.366%, 95.855% 90.409%, 95.303% 92.292%, 94.617% 94.002%, 93.808% 95.526%, 92.891% 96.849%, 91.88% 97.958%, 90.789% 98.839%, 89.63% 99.478%, 88.418% 99.862%, 87.167% 99.976%, 12.105% 98.476%, 12.105% 98.476%, 10.735% 98.281%, 9.42% 97.767%, 8.177% 96.955%, 7.021% 95.866%, 5.965% 94.52%, 5.026% 92.94%, 4.218% 91.146%, 3.557% 89.16%, 3.057% 87.002%, 2.734% 84.694%, 2.734% 84.694%, 2.626% 83.567%, 2.517% 82.432%, 2.41% 81.296%, 2.305% 80.164%, 2.201% 79.039%, 2.1% 77.927%, 2.002% 76.833%, 1.908% 75.762%, 1.819% 74.719%, 1.734% 73.709%, 1.734% 73.709%, 1.492% 70.953%, 1.248% 68.4%, 1.006% 65.999%, 0.776% 63.697%, 0.565% 61.444%, 0.379% 59.188%, 0.226% 56.879%, 0.113% 54.464%, 0.048% 51.893%, 0.038% 49.114%, 0.038% 49.114%, 0.085% 46.337%, 0.185% 43.769%, 0.33% 41.359%, 0.514% 39.056%, 0.73% 36.809%, 0.971% 34.565%, 1.232% 32.273%, 1.505% 29.881%, 1.784% 27.339%, 2.062% 24.594%, 2.062% 24.594%, 2.16% 23.587%, 2.264% 22.548%, 2.372% 21.481%, 2.485% 20.391%, 2.6% 19.284%, 2.719% 18.164%, 2.84% 17.035%, 2.962% 15.904%, 3.086% 14.774%, 3.209% 13.651%);
}

.clip-panel-shadow {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.7));
}

.clip-white-panel {
  clip-path: var(--clip-white-panel-x);
  background-color: #fff;
}

.clip-blue-panel {
  clip-path: var(--clip-blue-panel-x);
  background-color: var(--bg-primary);
}

/* Reset styles for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font) !important;
  line-height: 1.2;
  margin-bottom: 5px;
}

h1,
h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 25px !important;
}

h4 {
  font-size: 22px !important;
}

h5 {
  font-size: 18px !important;
}

h6 {
  font-size: 14px !important;
}

p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: start;
  font-family: 'Avenir Next Cyr';
}

button {
  font-family: var(--controls-font) !important;
}

button,
input,
optgroup,
span,
select,
textarea,
::placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  text-align: start;
}

a {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: start;
}

.bg-primary {
  background-color: var(--bg-primary);
  color: white;
}

.button-primary {
  @apply flex items-center gap-[5px] text-[#1a1a1a] font-bold text-[16px] px-6 py-3 rounded-[15px] border-2 border-white shadow-md h-[40px];
  background: var(--bg-yellow-gradient);

}

button {
  padding-inline: 30px !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--site-bg-color);
  border-radius: var(--rounded);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary);
  border-radius: var(--rounded);
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.side-space {
  padding-inline-start: 80px;
  padding-inline-end: 80px;
}

.section-space {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-top-space {
  margin-top: 50px;
}

.section-bottom-space {
  margin-bottom: 50px;
}
/* logo */
.appLogo svg {
  width: 150px;
  height: auto;
}
html{
  scroll-behavior: smooth;
}
@media screen and (max-width: 991px) {
  .clip-white-panel {
    clip-path: var(--clip-white-panel-y);
  }

  .clip-blue-panel {
    clip-path: var(--clip-blue-panel-y);
  }
}

@media screen and (max-width: 767px) {
  .side-space {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }

  .section-top-space {
    margin-top: 30px;
  }

  .section-bottom-space {
    margin-bottom: 30px;
  }

  .section-space {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h1,
  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  h5 {
    font-size: 14px !important;
  }

  h6 {
    font-size: 12px !important;
  }

  p,
  button,
  input,
  optgroup,
  span,
  select,
  textarea,
  ::placeholder,
  a {
    font-size: 12px;
    line-height: 14px;
  }

  .button-primary svg {
    height: 12px;
    width: auto;
  }

  .button-primary {
    height: 35px;
    font-size: 12px;
  }


}